:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.flex-grow {
    /*flex: 1 0 auto;*/
    flex: 1;
}

.page-footer {
    background: white;
    border-bottom: 1px solid lightgrey;
}

.center-screen {
    align-items: center;
    justify-content: center;
}

/** NAVBAR **/
.navbar-white {
    background: white;
    /*max-width: 100%;*/
    border-bottom: 1px solid lightgrey;
}

.navbar-white .navbar-nav > li > a {
    color: black;
    line-height: 50px;
}
.navbar-white .navbar-nav > li > a:hover {
    color: lightgrey;
    line-height: 50px;
}

.navbar-white .navbar-brand {
    line-height: 50px;
}

.navbar-white .navbar-nav > .open > a,
.navbar-white .navbar-nav > .open > a:hover,
.navbar-white .navbar-nav > .open > a:focus {
    background: white;
    color: black;
}

#nav-btn {
    background-color: #ea4a3c;
    color: #fff;
    border: none;
    border-radius: 0;
    margin-top: 20px;
    line-height: 10px;
}

/** SIDEBAR **/
#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: black;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active ul.components li {
    font-size: 14px;
}
#sidebar.active ul.components li a {
    padding: 10px 0;
}
#sidebar.active ul.components li a span {
    margin-right: 0;
    display: block;
    font-size: 24px;
}
#sidebar.active .logo {
    padding: 10px 0;
}
#sidebar.active .footer {
    display: none;
}
#sidebar .logo {
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
    #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
#sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
    #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
#sidebar ul li {
    font-size: 16px;
}
#sidebar ul li > ul {
    margin-left: 10px;
}
#sidebar ul li > ul li {
    font-size: 14px;
}
#sidebar ul li a {
    padding: 10px 30px;
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a span {
    margin-right: 15px;
}
@media (max-width: 991.98px) {
    #sidebar ul li a span {
        display: block;
    }
}
#sidebar ul li a:hover {
    /*color: #fff;*/
    text-decoration: none;
    background-color: red;
}
#sidebar ul li.active > a {
    /*background: transparent;*/
    color: #fff;
    background-color: red;
}
@media (max-width: 991.98px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
}

/** END SIDEBAR **/

/** LOGIN-SIGNUP **/

.main-login-bg {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
}

.card-signin {
    border: 0;
    /*border-radius: 1rem;*/
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 10px 0 10px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 38px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
}
.social-btn .btn:hover {
    opacity: 0.5;
}
/** END LOGIN-SIGNUP **/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.table-hover tbody tr:hover td {
    background: aqua;
}

.wrapper {
    width: 100%;
}

.jumbotron.is-info {
    color: white;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    /*background: #36d1dc;
    background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);*/
    background: #f42c04;
    background: -webkit-linear-gradient(to right, #641202, #f42c04);
    background: linear-gradient(to right, #641202, #f42c04);
}

.card .title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.card .subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.box {
    background: #fff;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.box span {
    font-size: 15px;
}
.box a {
    text-decoration: none;
    color: #f42c04;
    border-bottom: 2px solid #f42c04;
}
.box .text {
    margin: 20px 0px;
}

.box .fa {
    color: #4183d7;
}

/*#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  #sidebar .logo span {
    display: block;
}*/
