@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {	
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	/*background: #fff;*/
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.flex-grow {
    /*flex: 1 0 auto;*/
    flex: 1;
}

a:hover {text-decoration: none;}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title-block {
    font-size: 30px;
}

.btn-generic {
    background-color: #f42c04;
    border-color: #f42c04;
}

.btn-generic:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}

/*-- header area start --*/

.header {
    background-color: #fff;
    padding: 20px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left a img {
    display: inline-block;
    width: 90px;
}

.header-right a {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f42c04;
    padding: 6px 30px;
    font-size: 20px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.header-right-navbar{
    display: inline-block;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 30px;
    font-size: 20px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.header-right a:hover {
    opacity: .7;
}

/*-- header area end --*/

/*-- Body class  --*/
.bg-block {
    background-color: #f49e00;
}

.bg-block-gris{
    background-color: #f8fafc;
}

.bg-block-blanc{
    background-color: #fff;
}

.infos-block {
    padding: 20px 40px;
}
/*-- hero area start --*/
.hero {
    background-image: url('/img/welcome/hbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 20;
    padding: 170px 0;
}

.hero:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(244, 158, 0,.3);
    z-index: -20;
}

.hero-text h1 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    color: #f42c04;
    line-height: 1;
}

.hero-text h2 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    font-size: 58px;
    color: #f42c04;
    line-height: 1;
}

.hreo-code input {
    display: inline-block;
    border: 0;
    font-size: 16px;
    font-style: italic;
    color: #8f8f8f;
    width: 280px;
    padding: 10px 18px;
    padding-top: 11px;
}

.hreo-code button {
    display: inline-block;
    border: 0;
    outline: none;
    background-color: #f42c04;
    text-transform: uppercase;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 35px;
    font-style: italic;
    font-weight: 600;
    margin-left: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.hreo-code button:hover {
    /*opacity: .7;*/
    background-color: #d0211c;
    border-color: #c51f1a;
}

.hreo-code {
    margin-top: 30px;
}

/*-- hero area end --*/

/*-- price area start --*/

.price-heading h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    color: #f42c04;
}

.pb-one img {
    display: inline-block;
    width: 90%;
    margin-bottom: 20px;
}

.pb-one p {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: #f42c04;
}

.price {
    padding: 60px 0;
}

/*-- price area end --*/

/*-- discount area start --*/

.discount-left h2 {
    font-size: 58px;
    color: #000;
    font-weight: 600;
    font-style: italic;
    padding-left: 50px;
}

.discount-right img {
    display: block;
    width: 90%;
    margin-left: auto;
}

.discount {
    padding-bottom: 70px;
}

/*-- discount area end --*/

/*-- perticipate area start --*/

.perticipate {
    background-image: url('/img/welcome/perbg.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    background-size: cover;
}

.perticipate-heading h2 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.perlist-one h4 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
}

.perlist-one p {
    font-size: 19px;
    margin-bottom: 24px;
}

/*-- perticipate area end --*/


/*-- maxi area start --*/
.maxi-heading h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
    color: #f42c04;
}

.maxi-content img {
    display: block;
    width: 55%;
    margin: auto;
}

.maxi {
    padding: 60px 0;
    padding-bottom: 70px;
}

/*-- maxi area end --*/

/*-- footer area start --*/
.footer {
    background-color: #000000;
    padding: 15px 0;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #f49e00;
    text-transform: uppercase;
}

.footer-middle ul {
    text-align: center;
    margin-left: 150px;
}

.footer-middle ul li {
    display: inline-block;
}

.footer-middle ul li a {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    margin: 0px 6px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.footer-middle ul li a:hover {
    opacity: .7;
}

.footer-right ul li {
    display: inline-block;
}

.footer-right ul li a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #f49e00;
    text-transform: uppercase;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.footer-right ul li a span {
    display: inline-block;
    font-style: normal;
    margin: 0px 12px;
}

.footer-right ul li a:hover {
    opacity: .7;
}

.discount-content p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 25px;
    font-weight: 600;
    background-color: #f49e00;
    color: #fff;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 3% 100%);
    display: inline-block;
    padding: 5px 26px;
}

.discount-content p:last-child {
    background-color: #f42c04;
    margin-left: 30px;
    padding-right: 14px
}

.discount-content {
    transform: rotate(-4deg);
    position: relative;
    margin-top: -40px;
}

/*-- footer area end --*/


/*Login page */

.social-btn .btn {
    color: #fff;
    margin: 10px 10px 0 10px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 38px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
}
.social-btn .btn:hover {
    opacity: 0.5;
}

/*USER HOME */
.jumbotron.is-info {
    color: white;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    background: #f42c04;
    background: -webkit-linear-gradient(to right, #641202, #f42c04);
    background: linear-gradient(to right, #641202, #f42c04);
}

.card-signin {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card .title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.card .subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.box {
    background: #fff;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

/*Gestion d'erreurs*/
.invalid-feedback-welcome {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 100%;
    color: #e3342f;
    background-color:#fff;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 100%;
    color: #e3342f;
}











